/*footer*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  outline: none;
}
.footer-main-div{
  width: 100%
  height: auto;
  margin: auto;
  background: #fed136;
  padding: 20px 0px;
}
.footer-social-icons{
  width: 100%
  height: auto;
  margin: auto;
}
.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-social-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #32CD32;
}

.footer-social-icons ul li a{
  color: #272727;
  font-size: 25px;
  display: block;
}
.footer-social-icons ul li a i{
  line-height: 50px;
}

.footer-social-icons ul li:hover{
  background: #f00;
}
.footer-social-icons ul li:hover a{
  color: #fff;
}

.footer-menu-one{
  width: 100%
  height: auto;
  margin: auto;
  margin-top: 25px;
}
.footer-menu-one ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-menu-one ul li{
  display: inline-block;
  margin: 0px 15px;
}
.footer-menu-one ul li a{
  font-family: arial;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-menu-one ul li a:hover{
  color: #32CD32;
}

.footer-menu-two{
  width: 100%
  height: auto;
  margin: auto;
  margin-top: 15px;
}
.footer-menu-two ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-menu-two ul li{
  display: inline-block;
  margin: 0px 15px;
}
.footer-menu-two ul li a{
  font-family: arial;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}

.footer-menu-two ul li a:hover{
  color: #32CD32;
}

.footer-bottom{
  width: 100%
  height: auto;
  margin: auto;
  background: #32CD32;
  padding: 10px;
}
.footer-bottom p{
  font-family: arial;
  font-size: 14px;
  text-align: center;
  color: #333;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer-bottom p a{
  color: #fed136;
}
.footer-bottom p a:hover{
  color: #272727;
}

.carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size:cover;
  background-size:cover;
}
.carousel-caption{
  bottom: 270px;
}
.carousel-caption h5{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p{
  width: 75%
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.navbar-light .navbar-brand{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav
.nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:#fff;
}
.navbar-light .navbar-nav .nav-link{
  color:#fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
